body {
    margin: 60px auto;
    width: 420pt;
    font-family: 'Helvetica';
    background-color: #eee;
}

nav {
    text-align: center;
    font-weight: bold;
}

p {
    font-family: 'Georgia';
    font-style: italic;
    width: 240pt;
}

p, ul {
    font-size: 1.0em;
    line-height: 1.5em;
    color: #333;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline
}

img {
    width: 100%;
    max-width: 540px;
    text-align: center;
}

.headline-image {
    width: 240pt;
    left: 0;
    right: 0;
    margin: 2em auto 5em auto;
}

.section-divider {
    background-color: #ddd;
    padding: 14pt;
    font-style: italic;
    font-weight: bold;
}

.section-body {
    margin: 0 0 5em 0;
}

.section-body p {
    left: 0;
    right: 0;
    margin: 2em auto 1em auto;
    text-align: left;
}

.section-body ul {
    left: 0;
    right: 0;
    margin: 2em auto 1em auto;
    text-align: left;
    width: 240pt;
    list-style: none;
    list-style-type: none;
    padding: 0;
}
.section-body li {
    margin-top: 1em;
}

.projects {
    padding-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8pt 8pt;
}

.projects div.thumbnail {

}
