<!DOCTYPE html>
<html>
    <head>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=0.75, user-scalable=no">
    </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Lacy Rhoades</a></li>
      </ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:lacy@dexter.st">lacy@dexter.st</a></li>
   <li><a href="https://github.com/lacyrhoades">github.com/lacyrhoades</a></li>
   <li><a href="https://subspec.io">subspec.io</a></li>
   </ul>
  </footer>
  </body>

</html>
